.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
 .form-contenido {
  max-width: 600px;
}

.form input {
  color: var(--cor-10);
}
.form label {
  display: block;
  font:
    500 1rem/1.5 "Exo2",
    sans-serif;
  margin-bottom: 4px;
}
.form .col-2 {
  grid-column: span 2;
}
.form input[type="text"],
.form input[type="email"],
.form textarea,
.form select {
  font:
    400 1rem/1.5 "Exo2",
    sans-serif;
    background: linear-gradient(190deg, #242930, var(--cor-1));;
  border: 1px solid var(--cor-4);
  padding: 12px;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}
.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form textarea:focus,
.form select:focus {
  outline: none;
  border-color: var(--cor-6);
  background: var(--cor-3);
  background: linear-gradient(190deg, #242930, var(--color-secondary-software));
  box-shadow: 0 0 10px var(--color-primary-software);
}
textarea{
  max-height: 220px;
  width: 100%;
  height: 200px;
  resize: none;
  color: var(--cor-10);
}
.submit-telegram{
  display: flex;
  padding: 12px 28px;
  border-radius: 5px;
  font-size: 1rem;
  letter-spacing: 1px;
  color:#fff;
  background: #1f78a5;
  width: 100%;
  text-align: center;
  align-content: center;
  place-content: center;
  transition: all .3s ease-in-out;
  border: var(--cor-9) 1px solid;
}
.submit-telegram:hover{
  background: #144c68;
  box-shadow: 0px 0px 10px var(--color-shadow);
  cursor: pointer;
}
.dangerInput{
  border: var(--color-danger) 2px solid !important;
}
.dangerLabel{
  color: var(--color-danger) !important;
}

/*=======================================================================================
                                      MARK: RESPONSIB
=======================================================================================*/
@media (max-width: 800px) {
  .contacto-formulario {
    grid-template-columns: 1fr;
    padding-top: 10px;
  }
  .form {
    grid-template-columns: 1fr;
  }
  .form .col-2 {
    grid-column: 1;
  }
}
@media (max-width: 1042px) {
  .form-contenido h2 {
    font-size: 2.8rem ;
  }
}
@media (max-width: 1000px) {
  .form-contenido {
    max-width: -webkit-fill-available;
  }
  .form-contenido p,.form-contenido h2 {
    text-align: center;
  }
  .form-contenido h2 {
    font-size: 3.8rem ;
  }
}
@media (width < 922px) {
  .form-contenido h2 {
    font-size: 2.6rem ;
  } 
}
@media (width < 873px) {
  .form-contenido h2 {
    font-size: 2.3rem ;
  }
}
@media (width < 822px) {
  .form-contenido h2 {
    font-size: 2.2rem ;
  }
}
@media (width < 809px) {
  .form-contenido h2 {
    font-size: 2.1rem ;
  }
}
@media (width < 624px) {
  .form-contenido h2 {
    font-size: 3rem ;
  }
}
@media (width < 504px) {
  .form-contenido h2 {
    font-size: 2.9rem ;
  }
}
@media (width < 489px) {
  .form-contenido h2 {
    font-size: 2.8rem ;
  }
}
@media (width < 474px) {
  .form-contenido h2 {
    font-size: 2.6rem ;
  }
}
@media (width < 445px) {
  .form-contenido h2 {
    font-size: 2.4rem ;
  }
}
@media (width < 416px) {
  .form-contenido h2 {
    font-size: 2.3rem ;
  }
}
@media (width < 400px) {
  .form-contenido h2 {
    font-size: 2.2rem ;
  }
}
@media (width < 486px) {
  .form-contenido h2 {
    font-size: 2.1rem ;
  }
}