.right-image-post {
    margin-top: 60px;
    padding-top: 60px;
    border-top: 2px solid rgba(250, 250, 250, 0.1);
}
.left-image img,
.right-image img {
    border-radius: 5px;
    border: rgb(102, 26, 131) 2px solid;    
}
#profile{
    border: none;
}
.right-image-post h4,
.left-image-post h4 {
    margin-top: 30px;
}
.right-image-post p,
.left-image-post p {
    margin-top: 20px;
}
.right-image-post .titulo-button,
.left-image-post .titulo-button {
    margin-top: 30px;
}
.picture-button{
    margin-top: 10px;
    padding: 10px;
    background-color:#661a83;
    width: 50px !important;
    height: 50px;
    transition: all .45s ease;
}
.picture-button:hover{
    background:#3f1051;
    color: #661a83;
}
.titulo-button a {
    display: inline-block;
    padding: 12px 20px;
    color: #fff;
    background-color: #661a83;
    border: 2px solid #661a83;
    border-radius: 5px;    
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all 0.5s;
}
.titulo-button a:hover {
    background:#3f1051;
    border: 2px solid #661a83;
}
.certificate{
    width: 24px;
    height: 24px;
    margin-bottom: 5px;
}