#home{
    padding: 120px 1% 10px;
}

a {
    color:#af60f3;
    font-weight: bold;
    transition: .2s ease;
}

a:hover {
    color:#b500fd;
    font-weight: bold;
}

.slide{
    margin-bottom: 20px;
}

.skills-services{
    color:#661a83;
    font-size: smaller;
}

.uno{
    display: inline-block;
    margin-right: 15px;
    height: 32px;
    padding: 0 15px;
    line-height: 30px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    background: linear-gradient( 200deg, #661a83, black);
    border: #4f1465 solid 1px;
    color: #fff;
}

.dos{
    display: inline-block;
    color: #ccc;
    font-size: 20px;
    font-weight: 500;
    padding-top:10px;
}

.home-text h1{
    font-size: 4rem;
    font-weight: 700;
    color:#fff;
    line-height: 1.1;
    margin: 0 0 8px ;
}

.home-text h3{
    font-size: 1.8rem;
    font-weight: 700;
    color:#fff;
    line-height: 1.1;
    margin: 0 0 35px ;
}

.home-text p{
    font-size: 1.2rem;
    color:#fff;
    line-height: 1.8;
    margin-top: 40px;
    margin-bottom: 30px;
    width: 97%;
    justify-content: flex-start;
}

.button{
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn{
    display: inline-block;
    padding: 12px 28px;
    background: #661a83;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: all .45s ease;
    color: #fff;
    margin-top: 30px;
    margin-left: 0;
    margin-right: 15px;
    border: #7e21a3 2px solid;
}
.btn:nth-child(1):hover{
    color: #fff;
    background: #4f1465;
    cursor: pointer;
}
.btn:nth-child(2){
    color: #fff;
    background: none;
    border: #661a83 2px solid;
    transition: all .45s ease;
}
.btn:nth-child(2):hover{
    color: #fff;
    background: none;
    border: #ccc 2px solid;
    transition: all .45s ease;
}

#proyect{
    color:black;
}

.expLine{
    border-left: #ccc 2px solid;
}

.expLine .left-image-post .right-text p, .expLine .left-image-post .right-text h4:nth-child(2){
    margin-left:40px;
}

.title{
    text-overflow: ellipsis; 
    white-space: nowrap;
    overflow: hidden;
    margin-left:3px;
}

#arrowUp i{
    margin-left: 2px;
}

.arrowDown i{
    margin-left: -2px;
    position: absolute;
}

/*-- FOOTER--*/

.scrollup{
    display: none;	
	width:40px;
	height:40px;			
	position: fixed;
	bottom:40px;
	right:8px;
    font-size: 36px;
    color:white !important;
    
    transition: all .45s ease;
    -webkit-filter: drop-shadow(0px 0px 3px black);
    filter: drop-shadow(0px 0px 3px black);
}

.show{
    display: block;	
}
.scrollup:hover{
    cursor:pointer;
}

#Exp{
   filter:grayscale();
   transition: all .45s ease;
}

#Exp:hover{
    filter:none;
 }

 .pictureSchool i, .pictureUO i{
    margin-top: 10px;
    border-radius: 5px;
    color:white;
    padding: 10px;
    background:#661a83;
    font-size: 24px;
    transition: all .45s ease;
 }
 
 .pictureSchool i:hover{
    background:white;
    color: #661a83;
 }

 fieldset label{
    color: red;
 }

.input-error {
    border: 2px solid red !important;
}
 @media(width < 494px){
    .home-text h1{
        font-size: 3rem;
    }
    .home-text h3{
        font-size: 1.5rem;
    }
 }
 @media(width < 491px){
    .home-text h1{
        font-size: 3rem;
    }
    .home-text h2{
        font-size: 1.5rem;
    }
 }
 @media(width < 468px){
    .btn{
        font-size: 0.9rem;
    }
 }
 @media(width < 447px){
    .btn{
        font-size: 0.88rem;
    }
 }
 @media(width < 442px){
    .btn{
        font-size: 0.8rem;
    }
 } 
 @media(width < 426px){
    .btn{
        font-size: 0.8rem;
    }
 }
 @media(width < 421px){
    .btn{
        font-size: 0.78rem;
    }
 }
 @media(width < 412px){
    #home{
        padding: 80px 1% 10px;
    }
 }
 @media(width < 405px){
    .btn{
        font-size: 0.7rem;
    }
 }
 @media(width < 385px){
    .home-text h1{
        font-size: 2.9rem;
    }
    .home-text h2{
        font-size: 1.4rem;
    }
    .btn{
        font-size: 0.6rem;
    }
 }
 @media(width < 371px){
    .home-text h1{
        font-size: 2.8rem;
    }
 }
 @media(width < 365px){
    .home-text h2{
        font-size: 1.3rem;
    }
 }
 @media(width < 359px){
    .home-text h1{
        font-size: 2.7rem;
    }
 }