.my-services .col-md-6 {
    padding-left: 5px;
    padding-right: 5px;
}
.service-item {
    margin-bottom: 10px;
    padding: 50px;
    background-color: rgba(250, 250, 250, 0.1);
    transition: all 0.5s;
    height: 98%;
}
.service-item h4 {
    transition: all 0.5s;
    text-align: center;
    margin-bottom: 20px;
}
.service-item p {
    transition: all 0.5s;
}
.service-item:hover {
    background-color: #ccc;
}
.service-item:hover h4 {
    color: black;
}
.service-item:hover p {
    color: black;
    font-weight: bold;
}
.service-item .service-icon {
    width: 70px;
    height: 70px;
    display: inline-block;
    margin-bottom: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.5s;
}
.service-item .first-service-icon {
    background-image: url(../images/first-white-icon.webp);
}
.service-item p {
    font-size: large;
    text-align: center;
}
.center-skills{
    place-content: center;
    height: 50%;
}
.service-item .languajes {
    font-size: 18px;
}
.service-item:hover .first-service-icon {
    background-image: url(../images/first-main-icon.webp);
}
.service-item .second-service-icon {
    background-image: url(../images/second-white-icon.webp);
}
.service-item:hover .second-service-icon {
    background-image: url(../images/second-main-icon.webp);
}
.service-item .third-service-icon {
    background-image: url(../images/third-white-icon.webp);
}
.service-item:hover .third-service-icon {
    background-image: url(../images/third-main-icon.webp);
}
.service-item .fourth-service-icon {
    background-image: url(../images/fourth-white-icon.webp);
}
.service-item:hover .fourth-service-icon {
    background-image: url(../images/fourth-main-icon.webp);
}