.sobre-bg {
  padding-top: 100px;
}
.sobre {
  display: grid;
  grid-template-columns: 6fr 5fr;
  justify-content: center;
  gap: 0 50px;
  position: relative;
  align-items: center;
  justify-items: center;
}
.sobre-contenido {
  padding-top: 20px;
  align-self: center;
}
.sobre h2 {
  margin-bottom: 60px;
}
.sobre p {
  margin-bottom: 32px;
}
.sobre-imagen {
  position: relative;
  overflow: visible;
  background: url("./../../img/fotos/acerca-de-hover.webp");
  width: 560px !important;
  height: 560px;
  transition: 0.3s ease-in-out;
  mask-image: linear-gradient(#fff 80%, transparent);
}
/*=======================================================================================
                                      MARK: RESPONSIB
=======================================================================================*/
@media (max-width: 1200px) {
  .sobre-bg {
    padding-top: 40px;
  }
  .sobre-conteudo::before,
  .sobre::before {
    display: none;
  }
  .sobre-imagen {
    display: none;
  }
  .sobre {
    grid-template-columns: 1fr;
    margin-bottom: 60px;
  }
}
