.questions {
  padding-top: 120px;
  padding-bottom: 120px;
}
.documentation h2 {
  margin-bottom: 60px;
}

/*=======================================================================================
                                      MARK: RESPONSIB
=======================================================================================*/
@media (max-width: 800px) {
  .questions {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .questions h2, .privacy h2 {
    margin-bottom: 40px;
  }
}
