.questions-bg{
  padding: 100px 0;
}
.documentation h2 {
  margin-bottom: 60px;
}

/*=======================================================================================
                                      MARK: RESPONSIB
=======================================================================================*/
@media (max-width: 800px) {
  .questions h2, .privacy h2 {
    margin-bottom: 40px;
  }
}
