.testimonial-bg {
  padding-top: 100px;
}
.testimonial-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  flex-wrap: wrap;
}
.test-container.card {
  justify-items: left;
}
.testimonial-profile {
  display: flex;
  align-items: center;
}
.testimonial-profile p {
  padding-left: 10px;
}
.border-left-comment{
  border-left: var(--cor-7) 5px solid;
}
.testimonial-profile .avatar{
  border-radius: 50%;
  max-width: 100px;
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.2);
  justify-content: center;
  object-fit: contain;
}
.testimonial h2 {
  margin-bottom: 100px;
}
.social-container{
  place-content: center;
  display: flex;
  margin-top: 10px;
}
.social-container a {
  padding: 5px;
  background-color: var(--color-primary-software);
  border: var(--color-primary-software) 1px solid;
  margin: 5px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.social-container a:hover {
  background-color: var(--color-secondary-software);
  border: var(--cor-10) 1px solid;
  box-shadow: 0px 0px 10px var(--color-primary-software);
}
.cta-bg{

  padding: 100px 0;
}
.cta-botones {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center;
}

/*=======================================================================================
                                      MARK: RESPONSIB
=======================================================================================*/
@media (max-width: 800px) {
  .testimonial-container {
    grid-template-columns: 1fr;
  }
  .testimonial-container h2 {
    padding-bottom: 10px;
  }
}
@media (width < 443px) {
  .carousel-button.next, .carousel-button-explora.nextExplora{
    right: 40px;
  }
}
