footer{
  background: linear-gradient(rgba(9, 15, 22, 0.6), rgba(9, 15, 22, 0.2));
  border-top: 1px solid rgba(42, 120, 203, 0.12);
  border-bottom: 1px solid rgba(42, 120, 203, 0.12);
  /*padding: 22px 28px;*/
  position: relative;
  color: var(--cor-9);
  margin-top: 150px;
  align-content: center;
}
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 100px;
  padding-bottom: 60px;
  padding-left: 60px;
  padding-right: 60px;
}
.info-contacto {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding-right: 20px;
}
.info-enlaces {
  display: grid;
  /*grid-template-columns: 1fr 2fr;*/
  grid-template-columns: repeat(4, 1fr);
  /*align-items: center;*/
  gap: 30px;
}
.info-contacto h3, .info-enlaces h3 {
  margin-bottom: 18px;
}
.info-contacto li, .info-enlaces li{
  margin-bottom: 24px;
}
.info-contacto li > a , .info-enlaces li > a{
  display: inline-block;
  transition:
    transform 0.3s ease,
    color 0.3s ease;
}
.info-contacto ul, .info-enlaces ul{
  margin-bottom: 36px;
}
.info-contacto li > a:hover , .info-enlaces li > a:hover{
  transform: translateY(-2px);
  color: var(--cor-10);
}
.info-contenido{
  max-width: 600px;
}
.footer-left {
  max-width: 600px;
}
.email {
  display: inline-block;
  transition: all 0.3s ease-in-out;
}
.email:hover {
  color: var(--cor-6);
}
.copyright-bg {
  display: block;
  justify-content: center;
  text-align: center;
}
.icons-social{
  display: flex;
  text-align: center;
  justify-content: center;
}
.icons-social i{
  padding: 10px;
}
.scrollup {
  display: none;
}
.scrollup img {
  width: 30px;
  height: 30px;
  transition: all 0.3s;
  right: 20px;
  bottom: 20px;
  position: fixed;
}
.show-scroll{
  display: flex;
}
.scrollup img:hover {
  transform: translateY(-10px);
}
.last{
  text-align: center;
  justify-content: space-between;
  margin-top: 100px;
}
.last a:last-child{
  margin-left: 0px;
}
.last h2{
  margin-bottom: 15px;
}
.copyright{
  text-align: center;
  font-size: small;
}
.comment {
  background-color: rgba(250,250,250, 0.1);
  border: var(--cor-5) solid 1px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  text-align: center;
  transition: all 0.3s ease-in-out;
  margin-bottom: 20px;
  margin-top: 20px;
  border-left: 5px solid #ccc;
  max-width: 350px;
}
.comment p{
  margin-left: 10px;
}
.footer-logo{
  align-items: center;
}
.footer-keywords{
  padding: 20px;
}
/*=======================================================================================
                                      MARK: RESPONSIB
=======================================================================================*/
@media (max-width: 1096px) {
  /*.footer-logo{
    width: 400px;
  }*/
}
@media (max-width: 1042px) {
  .footer-left h2 {
    font-size: 2.8rem ;
  }
}
@media (max-width: 1000px) {
  .footer {
    grid-template-columns: 1fr;
    padding-right: 30px;
    padding-left: 30px;
    gap: 20px;
  }
  .info-contenido, .footer-left {
    max-width: -webkit-fill-available;
  }
  .info-contenido{
    margin-top: 20px;
  }
  .info-contenido p,.info-contenido h2, .info-contenido ul,
  .info-contenido h3,.footer-left p,.footer-left h2 {
    text-align: center;
  }
  .footer-left h2 {
    font-size: 3.8rem ;
  }
  .copyright-bg {
    padding-top: 10px;
    gap: 20px;
  }
  .copyright-bg p {
    font-size: 1rem;
  }
  .last-options{
    margin-bottom: 40px;
  }
}
@media (width < 922px) {
  .footer-left h2 {
    font-size: 2.6rem ;
  } 
}
@media (width < 873px) {
  .footer-left h2 {
    font-size: 2.3rem ;
  }
}
@media (width < 822px) {
  .footer-left h2 {
    font-size: 2.2rem ;
  }
}
@media (width < 809px) {
  .footer-left h2 {
    font-size: 2.1rem ;
  }
}
@media (max-width: 500px) {
  .info-enlaces {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width < 624px) {
  .footer-left h2 {
    font-size: 3rem ;
  }
}
@media (width < 504px) {
  .footer-left h2 {
    font-size: 2.9rem ;
  }
}
@media (width < 489px) {
  .footer-left h2 {
    font-size: 2.8rem ;
  }
}
@media (width < 474px) {
  .footer-left h2 {
    font-size: 2.6rem ;
  }
}
@media (width < 445px) {
  .footer-left h2 {
    font-size: 2.4rem ;
  }
}
@media (width < 416px) {
  .footer-left h2 {
    font-size: 2.3rem ;
  }
}
@media (width < 400px) {
  .footer-left h2 {
    font-size: 2.2rem ;
  }
}
@media (width < 486px) {
  .footer-left h2 {
    font-size: 2.1rem ;
  }
}